NetLogo Models/.Rproj.user/4C1A2AEC/sdb/s-2433A535/lock_file
NetLogo Models/.Rproj.user/4C1A2AEC/sdb/prop/C4D9172C
NetLogo Models/.Rproj.user/4C1A2AEC/sdb/prop/INDEX
NetLogo Models/.Rproj.user/4C1A2AEC/sdb/s-2433A535/90E76ED6
NetLogo Models/testingoutput_table2.csv
*.pper
NetLogo Models/.Rproj.user/4C1A2AEC/persistent-state
NetLogo Models/.Rproj.user/4C1A2AEC/sdb/s-989CB61D/90E76ED6
NetLogo Models/.Rproj.user/4C1A2AEC/sdb/s-989CB61D/lock_file