NetLogo Models/.Rproj.user/4C1A2AEC/sdb/s-2433A535/lock_file
NetLogo Models/.Rproj.user/4C1A2AEC/sdb/prop/C4D9172C
NetLogo Models/.Rproj.user/4C1A2AEC/sdb/prop/INDEX
NetLogo Models/.Rproj.user/4C1A2AEC/sdb/s-2433A535/90E76ED6